@charset "UTF-8"



body {
    background-color: rgb(93, 98, 98);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color: rgb(197, 182, 164);
}
h2 {
    color: rgb(226, 142, 57);
}
p {
text-align: justify;
}