@charset "UTF-8";

h1#principal {
    color: blanchedalmond;
    text-align: center;

}
main {
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 15px;
    width: 700px;
    height: 700px;
    border-radius: 10px;
    border-color: aqua;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: -o-linear-gradient( to right, red, orange, yellow);
}
p {
    text-shadow: 1px 1px 2px;
}
span:hover > p {
color: rgb(170, 14, 14);
display: block;


}
span > p {
    display: none;
}
button {
    color: brown;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    display: flexbox;
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: 50%; 
    right: 50%; 
    transform: translate(-50%,-50%); 
    cursor:pointer;
    background-color: aquamarine;
}