@charset "UTF-8"; 

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: url(logo-da-starbucks-significado-historia-e-evolucao-4_xl.png);
    padding: 1.5em;
    text-align: center;
    background-position: left;
    background-size: 10em;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.296);
    

    

}
header p {
    padding-top: 23px;
    padding-bottom: 23px
}

header div > a{
    color: rgb(12, 71, 12);
    padding-left: 15px;


    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
    

} 
header a:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.211);
    transition: .10s;
}
th#Nome {
    border: 1px solid black;
    
}

table {
    
    border-collapse: collapse;

}
td {
    border: 1px solid black;
    height: 2.0em;
    width: 6em;
}
caption {
    border: 1px solid black;
}
.esporte, .prof, .enem {

    border:1px solid  black;
}

div#box {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-image: url(logo-da-starbucks-significado-historia-e-evolucao-4_xl.png);
    background-size: cover;
    background-position: top center;


}